<h1>Login</h1>
<form action="/sessions/new" method="POST">
  <input type="email" name="user[email]" placeholder="Email:">
  <input type="password" name="password_hash" placeholder="Password:">
</form>
