<form action="/drinks/new" method="POST">
  <input type="text" name="name_of_drink" placeholder="Drink Name:">
  <input type="integer" name="alcohol" placeholder="Alcohol Content:">
  <input type="sumbit" value="Submit Drank">
</form>
